*{
    font-family: IosevkaNerdFont;
    font-size: 14px;
    min-height: 0;
    color: #282828;
}

window#waybar {
    background-color: #ebdbb2;
}

#tags button{
    padding: 0px 2px;
    font-weight: bolder;
    background-color: #ebdbb2;
}

#tags button.focused, #workspaces button.focused{
    background: #a89984;
}

#tags button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#tray,
#cpu,
#sway-mode,
#backlight,
#pulseaudio,
#battery,
#clock,
#network {
	padding: 0 10px;
}
